doctype html
html
  head
    title= title
    link(rel="shortcut icon" href="/images/logo_200x200.png")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/error.css')
  body
    block content