extends errorlayout

block content
    div(class="EOL_error_container center-block col-xs-12 col-sm-6 col-md-5")
        h2 This Wormhole Cannot be Entered
        img(class="col-xs-12" src="/images/EOL_Error_404.png")
        div(class="clearfix visible-xs-block")
        h3(class="ital") (ps. See you soon)
        a(href="/" class="col-xs-12 btn btn-primary btn-lg btn-block" role="button") Return Home