extends ./layouts/freightlayout

block content
    div(class='container' ng-controller='FreightController')
        div(class='row')
            div(class='col-md-12')
                h2 Welcome to the next generation EOL Website
        div(class='row')
            div(class='col-md-12')
                form(class='eol_form' ng-submit='calculate(size, collateral)')
                  div(class="row")
                    h4 While the final details propogate, here's some useful information
                    br
                  div(class="row")
                    div(class="panel panel-default")
                      div(class="panel-heading") Initial site appearance
                      div(class="panel-body")
                        div(class="col-md-5")
                          img(src="images/screen1.png" class="img-eol img-responsive")
                        div(class="col-md-7")
                          p For the first few days, the new website will default to the login screen so everyone can create a new account and login.
                          p Once you are logged in, the site will default to the main content on all future visits.
                          p When most of us are signed up, the site homepage will return to provide a general landing page for visitors.
                  div(class="row")
                    div(class="panel panel-default")
                      div(class="panel-heading") Making a new account
                      div(class="panel-body")
                        div(class="col-md-5")
                          img(src="images/screen2.png" class="img-eol img-responsive")
                        div(class="col-md-7")
                          p As this is a completely new site, we all need to make a new account and then login.
                          p To create and account, click the 'Create an account' link under the login box.

                  div(class="row")
                    div(class="panel panel-default")
                      div(class="panel-heading") Create the account
                      div(class="panel-body")
                        div(class="col-md-5")
                          img(src="images/screen3.png" class="img-eol img-responsive")
                        div(class="col-md-7")
                          p Enter relevant details to create an account.
                          p Note: 
                          ol
                            li A real email address is required in order to activate your account.  
                            li Use a throwaway email account (ie. no need to use your RL named email).
                            li If you would like an [CharacterName]@eolalliance.com email address, contact Scipio via evemail.      

                  div(class="row")
                    div(class="panel panel-default")
                      div(class="panel-heading") Login
                      div(class="panel-body")
                        div(class="col-md-5")
                          img(src="images/screen4.png" class="img-eol img-responsive")
                        div(class="col-md-7")
                          p After successfully creating an account, you'll automatically return to the login screen.
                          p If you select the 'Remember me' check box when you login, you won't have to login next time you come to the site.
                          p The site uses local web storage in the browser with all details encrypted. The information you keep in that storage will be recognised each time you return.

                  div(class="row")
                    div(class="panel panel-default")
                      div(class="panel-heading") Dashboard
                      div(class="panel-body")
                        div(class="col-md-5")
                          img(src="images/screen5.png" class="img-eol img-responsive")
                        div(class="col-md-7")
                          p Until an API Key is added, the site won't show much information at first.
                          p All account holders are automatically added to the 'Public' collection by default. This provides anyone who joins, the ability to view public information from the alliance.
                          p This includes read access to the public forum posts, public services, announcements and events calendar.
                          p However there are no write capabilities for anyone with only public access.
                          p In order to create Spaces (a personal blog for each member) and create/join Collections (forum areas and threads), a character API Key is required. To add an API Key, select the cog icon on the top-right of the header bar.   


                  div(class="row")
                    div(class="panel panel-default")
                      div(class="panel-heading") Add API Key
                      div(class="panel-body")
                        div(class="col-md-5")
                          img(src="images/screen6.png" class="img-eol img-responsive")
                        div(class="col-md-7")
                          p When you add an API Key for a character, the site will assign read/write privileges based on api informaton.
                          h3 The more API access you provide, the more services the site can provide
                          p A full character api will deliver the most services through the site.
                          h4 Minimim Requirement:
                          p The minimum api access needed is 'Character Sheet'.
                          img(src="images/charactersheet.png" class="img-responsive")
                          br
                          p The most important aspect is ensuring no expiry.
                          img(src="images/noexpiry.png" class="img-responsive")
                          br
                          p Access is then automatically provided by the site based on what information it can read from your API.
                          h3 EOL Member: 
                          ul
                            li Full read/write access
                            li Automatic inclusion in Public, Alliance and Friend Collections
                            li Ability to make Spaces
                            li Can upvote posts, comment on posts, follow other members spaces and join alliance and public collections
                          h3 Blue Standings:
                          ul
                            li Full read/limited write access
                            li Automatic inclusion in Public and Friend collections on the forum 
                            li Ability to upvote posts, comment on posts, follow members spaces and join public collections
                          h3 Public:
                          ul
                            li Default group for all new members
                            li Access to read only, public information
                       

                    div(class="panel panel-default")
                      div(class="panel-heading") Member Dashboard
                      div(class="panel-body")
                        div(class="col-md-5")
                          img(src="images/screen7.png" class="img-eol img-responsive")
                        div(class="col-md-7")
                          p Once an API Key is added, you'll have access to several areas and services, with everything just a click away from the Dashboard.
                          h4 Advantages of a Full Character API:
                          ul
                            li All forum (Collections) and blog (Spaces) access
                            li Events calendar access
                            li Access to services - Freight, Planetary Interaction service, EOL Intel, Timers
                            li Full character profile
                            li Skill Queue view
                            li Skills analysis and planner
                            li Alliance doctine analysis (ability to compare your skills against requirements to fly the alliance doctrine fits)
                            li Check your assets
                            li Track the progress of contracts
                            li Use of the market trading tools
                            li Track industry jobs
                            li View your wallet transactions from out of game
                          br
                          img(src="images/fullapi.png" class="img-responsive")

                    div(class="panel panel-default")
                      div(class="panel-heading") Mobile first
                      div(class="panel-body")
                        div(class="col-md-5")
                          img(src="images/screen8.png" class="img-eol img-responsive")
                        div(class="col-md-7")
                          p The best part - the whole site is mobile first and will work elegantly on a desktop, tablet or mobile phone.

                    div(class="row")
                    div(class="panel panel-default")
                      div(class="panel-heading") How Long
                      div(class="panel-body")
                        h3 Quit with the words already.
                        h3 When will I have access to this?
                        p The new site is fully secured through SSL certification. Currently, because of the use of a third party to provide the SSL certificate, the site is waiting for final installation of the certificate details.
                        p This can take 24-48 hours, however it is usually much shorter.
                        p As soon as the certificate details are installed, the site will automatically update and by live. So check back soon.

    script(src='/javascripts/controllers/eolapp.controller.js')