body {
    background: #eee; 
}

h2, h4 {
    color: black;
    text-align: center;
}

.eol_form {
  background: rgba(255,255,255,0.6);
  padding: 25px 25px 25px 25px;
  border-radius: 5px;
  margin-top:30px;
  margin-bottom: 30px;
  float: none !important;
  overflow:hidden;
}

.reward {
    color: steelblue;
}
